<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');"
                 data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div aria-live="polite" aria-atomic="true" style="position: fixed; z-index: 9999; min-height: 200px;">
                    <!-- Position it -->
                    <div style="position: fixed; top: 15px; right: 15px;" class="content-section">

                    </div>
                </div>
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Admin<i
                                class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">Admin</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light">
            <div class="container">
                <div class="card-deck">
                    <div class="card text-center border-primary rounded">
                        <div class="card-body">
                            <p class="card-title text-primary">회원</p>
                            <h5>[[${userCount}]]</h5>
                        </div>
                    </div>
                    <div class="card text-center border-primary rounded">
                        <div class="card-body">
                            <p class="card-title text-primary">예약</p>
                            <h5>[[${reserveCount}]]</h5>
                        </div>
                    </div>
                    <div class="card text-center border-primary rounded">
                        <div class="card-body">
                            <p class="card-title text-primary">문의</p>
                            <h5>55</h5>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <!--<div class="col text-center">
                        <div class="block-27">
                            <ul>
                            </ul>
                        </div>
                    </div>-->
                </div>

                <ul class="nav nav-pills nav-fill justify-content-center nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">회원</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reserve-tab" data-toggle="tab" href="#reserve" role="tab"
                           aria-controls="profile" aria-selected="false">예약</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                           aria-controls="contact" aria-selected="false">문의</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mt-5">
                        </div>
                        <div class="card-deck">

                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">총 회원 수</p>
                                    <h5>[[${userCount}]]</h5>
                                </div>
                            </div>

                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">NONE</p>
                                    <h5 class="noneCount" th:if="${NONE} != null">[[${NONE.count}]]</h5>
                                    <h5 class="noneCount" th:unless="${NONE} != null">0</h5>
                                </div>
                            </div>
                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">PERSONAL</p>
                                    <h5 class="personalCount" th:if="${PERSONAL} != null">[[${PERSONAL.count}]]</h5>
                                    <h5 class="personalCount" th:unless="${PERSONAL} != null">0</h5>
                                </div>
                            </div>

                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">BUSINESS</p>
                                    <h5 class="businessCount" th:if="${BUSINESS} != null">[[${BUSINESS.count}]]</h5>
                                    <h5 class="businessCount" th:unless="${BUSINESS} != null">0</h5>
                                </div>
                            </div>

                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">ULTIMATE</p>
                                    <h5 class="ultimateCount" th:if="${ULTIMATE} != null">[[${ULTIMATE.count}]]</h5>
                                    <h5 class="ultimateCount" th:unless="${ULTIMATE} != null">0</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header text-center">
                                        회원 차트
                                    </div>
                                    <div class="card-body">
                                        <canvas id="membershipChart1" width="400" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-header text-center">
                                        회원 차트
                                    </div>
                                    <div class="card-body">
                                        <canvas id="membershipChart2" width="400" height="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5 mb-5">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-header text-center">
                                    회원 테이블
                                </div>
                                <div class="input-group mb-0 mt-2 d-flex justify-content-end" style="width: 400px !important;">
                                    <select class="custom-select" name="rating" id="inputGroupSelect02" style="height: 52px !important;">
                                        <option value="" selected>멤버십</option>
                                        <option value="NONE">NONE</option>
                                        <option value="PERSONAL">PERSONAL</option>
                                        <option value="BUSINESS">BUSINESS</option>
                                        <option value="ULTIMATE">ULTIMATE</option>
                                    </select>
                                    <input style="width: 150px !important;"  name="keyword" type="text" class="form-control user-keyword" placeholder="이름 OR 이메일" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="검색">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary user-search-btn" type="button" style="width: 55px;"><span class="fa fa-search"></span></button>
                                    </div>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="table-responsive-md">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="text-center">회원번호</th>
                                                <th scope="col" class="text-center">이름</th>
                                                <th scope="col" class="text-center">이메일</th>
                                                <th scope="col" class="text-center">멤버십</th>
                                                <th scope="col" class="text-center"></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer user-table-pagination">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reserve" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row mt-5">
                        </div>
                        <div class="card-deck">
                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">총 예약 수</p>
                                    <h5>[[${reserveCount}]]</h5>
                                </div>
                            </div>

                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">강아지 산책</p>
                                    <h5 class="dogWalkCount" th:if="${DOG_WALK} != null">[[${DOG_WALK.count}]]</h5>
                                    <h5 class="dogWalkCount" th:unless="${DOG_WALK} != null">0</h5>
                                </div>
                            </div>
                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">반려동물 미용</p>
                                    <h5 class="petGroomingCount" th:if="${PET_GROOMING} != null">[[${PET_GROOMING.count}]]</h5>
                                    <h5 class="personalCount" th:unless="${PET_GROOMING} != null">0</h5>
                                </div>
                            </div>

                            <div class="card text-center border-primary rounded">
                                <div class="card-body">
                                    <p class="card-title text-primary">수의사 방문</p>
                                    <h5 class="vetVisitCount" th:if="${VET_VISIT} != null">[[${VET_VISIT.count}]]</h5>
                                    <h5 class="vetVisitCount" th:unless="${VET_VISIT} != null">0</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-header text-center">
                                    예약 테이블
                                </div>
                                <div class="input-group mb-0 mt-2 d-flex justify-content-end" style="width: 500px !important;">
                                    <select class="custom-select" name="reserveType" id="inputGroupSelect03" style="height: 52px !important;">
                                        <option value="" selected>예약 타입</option>
                                        <option value="RESERVE">예약</option>
                                        <option value="COMPLETE">완료</option>
                                        <option value="CANCEL">취소</option>
                                    </select>
                                    <select class="custom-select" name="servicesType" id="inputGroupSelect04" style="height: 52px !important;">
                                        <option value="" selected>서비스</option>
                                        <option value="DOG_WALK">강아지 산책</option>
                                        <option value="PET_GROOMING">반려동물 미용</option>
                                        <option value="VET_VISIT">수의사 방문</option>
                                    </select>
                                    <input style="width: 150px !important;"  name="keyword" type="text" class="form-control reserve-keyword" placeholder="이름 OR 이메일" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="검색">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary reserve-search-btn" type="button" style="width: 55px;"><span class="fa fa-search"></span></button>
                                    </div>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="table-responsive-md">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="text-center">예약 번호</th>
                                                <th scope="col" class="text-center">이름</th>
                                                <th scope="col" class="text-center">예약 서비스</th>
                                                <th scope="col" class="text-center">예약 일</th>
                                                <th scope="col" class="text-center">예약 상태</th>
                                            </tr>
                                            </thead>
                                            <tbody class="reserve-tbody">

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer reserve-table-pagination">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>

            </div>
        </section>

        <div class="modal fade" tabindex="-1" id="userModal" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">회원 정보</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="user-modal-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="userEmail">이메일</label>
                                    <input type="email" class="form-control" id="userEmail" placeholder="이메일" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="userName">이름</label>
                                    <input type="text" class="form-control" id="userName" placeholder="이름" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="postcode">우편번호</label>
                                    <input type="text" class="form-control" id="postcode" placeholder="우편번호" disabled>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="roadAddress">도로명 주소</label>
                                    <input type="text" class="form-control" id="roadAddress" placeholder="도로명 주소" disabled>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="jibunAddress">지번 주소</label>
                                    <input type="text" class="form-control" id="jibunAddress" placeholder="지번 주소" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="detailAddress">상세 주소</label>
                                    <input type="text" class="form-control" id="detailAddress" placeholder="상세 주소" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="extraAddress">참고 사항</label>
                                    <input type="text" class="form-control" id="extraAddress" placeholder="참고 사항" disabled>
                                </div>
                            </div>

                            <div class="hr-sect">멤버십</div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="userEmail">멤버십 등급</label>
                                    <input type="text" class="form-control" id="membershipRating" placeholder="멤버십 등급" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="userName">멤버십 기간</label>
                                    <input type="text" class="form-control" id="membershipDate" placeholder="멤버십 기간" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="postcode">이용가능 강아지 산책 횟수</label>
                                    <input type="text" class="form-control" id="dogWalk" placeholder="강아지 산책" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="roadAddress">이용가능 반려동물 미용 횟수</label>
                                    <input type="text" class="form-control" id="petGrooming" placeholder="반려동물 미용" disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="jibunAddress">이용가능 수의사 방문 횟수</label>
                                    <input type="text" class="form-control" id="vetVisit" placeholder="수의사 방문" disabled>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
<script th:inline="javascript">

    <!-- 각 멤버십 등급 별 회원수 카운트 -->
    const userCount = [[${userCount}]];
    const noneCount = $('.noneCount').text();
    const personalCount = $('.personalCount').text();
    const businessCount = $('.businessCount').text();
    const ultimateCount = $('.ultimateCount').text();

    <!-- 멤버십 차트 1 -->
    const membershipChart1 = new Chart($('#membershipChart1'), {
        type: 'bar',
        data: {
            labels: ['NONE', 'PERSONAL', 'BUSINESS', 'ULTIMATE'],
            datasets: [{
                label: '회원 수',
                data: [noneCount, personalCount, businessCount, ultimateCount],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    <!-- 멤버십 차트 2 -->
    const membershipChart2 = new Chart($('#membershipChart2'), {
        type: 'doughnut',
        data: {
            labels: [
                'NONE',
                'PERSONAL',
                'BUSINESS',
                'ULTIMATE'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [noneCount, personalCount, businessCount, ultimateCount],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                hoverOffset: 4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    $(document).ready(function (e) {

        userList(1);    // 페이지 로딩시 유저 리스트 조회

        $('.user-search-btn').on('click', function (e) {    // 회원 검색 버튼 클릭시 회원 조회
            e.preventDefault();

            userList(1);
        });

        
        /* 회원 검색 */
        function userList(page) {
            var page = page || 1;

            let userListTable = "";
            let pagination = "";
            let rating = $('select[name="rating"] option:selected').val().trim() === "" ? "" : $('select[name="rating"] option:selected').val().trim();
            let keyword = $('.user-keyword').val().trim() === "" ? "" : $('user-keyword').val().trim();

            let pageRequestDto = {
                page: page,
                rating: rating,
                keyword: keyword
            }

            $.ajax({
                url: '/admin/user/' + page,
                type: 'get',
                data: {
                    'keyword': keyword,
                    'rating': rating,
                    'page': page
                },
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    if (result.totalElements == 0){
                        swal('회원 검색', '조건에 맞는 회원이 없습니다.');
                        return false;
                    }
                    // 회원 테이블
                    $.each(result.dtoList, function (index, userList) {
                        userListTable += '<tr>' +
                            '<th scope="row" class="text-center">' + userList.id + '</th>' +
                            '<td class="text-center">' + userList.name + '</td>' +
                            '<td class="text-center">' + userList.email + '</td>' +
                            '<td class="text-center">' + userList.membershipDTO.rating + '</td>' +
                            '<td class="text-center"><a href="#" class="user-modal-btn" data-email="' + userList.email +'">자세히 보기</a></td>' +
                            '</tr>';
                    });

                    $('tbody').html(userListTable);

                    // 회원 테이블 페이징
                    pagination += '<nav aria-label="Page navigation example">\n' +
                        '                        <ul class="pagination justify-content-center">\n';

                    if (result.prev) {
                        pagination +='                            <li className="page-item disabled">\n' +
                            '                                <a class="page-link page-prev" data-type="user" data-preve="' + (result.start - 1)  + '" href="#" tabIndex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>\n' +
                            '                            </li>\n';
                    }


                    $.each(result.pageList, function (index, page) {

                        let active = result.page == page ? 'active' : '';
                        pagination += '<li class="page-item ' + active + '">';
                        pagination += '<a class="page-link page-num" data-type="user" data-page="' + page +'" href="#">' + page + '</a></li>'
                    })

                    if (result.next) {
                        pagination += '                            <li class="page-item">\n' +
                            '                                <a class="page-link page-next" data-type="user" href="#" data-end="' + (result.end + 1) +'"><span aria-hidden="true">&raquo;</span> </a>\n' +
                            '                            </li>\n';
                    }

                    pagination +='                        </ul>\n' +
                        '                    </nav>';

                    $('.user-table-pagination').html(pagination);

                }
            });

        }

        /* date형을 string형 yyyy-mm-dd로 변환 */
        function get_date_str(date) {

            return date.substring(0,10);
        }


        /* 회원 자세히 보기 버튼 클릭시 회원 조회 후 모달 생성성 */
        $(document).on('click', '.user-modal-btn', function (e) {
            e.preventDefault();

            let email = $(this).data('email');
            let form = $('.user-modal-form');

            // 모달 input 초기화
            form[0].reset();
            
            let modal = $('#userModal');

            // 모달 input 변수
            let emailInput = $('#userEmail');
            let nameInput = $('#userName');
            let postcodeInput = $('#postcode');
            let roadAddressInput = $('#roadAddress');
            let jibunAddressInput = $('#jibunAddress');
            let detailAddressInput = $('#detailAddress');
            let extraAddressInput = $('#extraAddress');
            let membershipRatingInput = $('#membershipRating');
            let membershipDateInput = $('#membershipDate');
            let dogWalkInput = $('#dogWalk');
            let petGroomingInput = $('#petGrooming');
            let vetVisitInput = $('#vetVisit');

            $.ajax({
                url: '/user/' + email,
                type: 'get',
                success: function (result) {
                    emailInput.val(result.email);
                    nameInput.val(result.name);
                    postcodeInput.val(result.postcode);
                    roadAddressInput.val(result.roadAddress);
                    jibunAddressInput.val(result.jibunAddress);
                    detailAddressInput.val(result.detailAddress);
                    extraAddressInput.val(result.extraAddress);
                    membershipRatingInput.val(result.membershipDTO.rating);
                    if (result.membershipDTO.rating !== 'NONE') {
                        membershipDateInput.val(get_date_str(result.membershipDTO.modifiedDate) + ' ~ ' + get_date_str(result.membershipDTO.lastDate));
                    }

                    dogWalkInput.val(result.membershipDTO.dogWalkCount);
                    petGroomingInput.val(result.membershipDTO.petGroomingCount);
                    vetVisitInput.val(result.membershipDTO.vetVisitCount);
                }
            })




            $('#userModal').modal('show');
        })

       /* 예약 검색 버튼 클릭시 예약 조회 */
        $('.reserve-search-btn').on('click', function (e) {
            e.preventDefault();

            reserveList(1);

        })

        /* 예약 탭 클릭 시 예약 테이블 정보 조회 */
        $('#reserve-tab').on('click', function () {

            reserveList(1);

        })

        /* 예약 리스트 조회 */
        function reserveList(page) {
            var page = page || 1;

            let reserveListTable = "";
            let pagination = "";
            let reserveType = $('select[name="reserveType"] option:selected').val().trim() === "" ? "" : $('select[name="reserveType"] option:selected').val().trim();
            let servicesType = $('select[name="servicesType"] option:selected').val().trim() === "" ? "" : $('select[name="servicesType"] option:selected').val().trim();
            let keyword = $('.reserve-keyword').val().trim() === "" ? "" : $('.reserve-keyword').val().trim();

            $.ajax({
                url: '/admin/reserve/' + page,
                type: 'get',
                contentType:'application/json; charset=utf-8',
                data: {
                    'page' : page,
                    'keyword' : keyword,
                    'servicesType' : servicesType,
                    'reserveType' : reserveType
                },
                success: function (result) {
                    if (result.totalElements == 0){
                        swal('예약 검색', '조건에 맞는 예약이 없습니다.');
                        return false;
                    }
                    // 회원 테이블
                    $.each(result.dtoList, function (index, reserveList) {
                        let serviceType = "";
                        let reserveType = "";

                        // 서비스에 타입에 따른 서비스 한글화
                        if (reserveList.servicesType == "DOG_WALK") {
                            serviceType = "강아지 산책";
                        } else if(reserveList.servicesType == "PET_GROOMING") {
                            serviceType = "반려동물 미용";
                        } else if(reserveList.servicesType == "VET_VISIT") {
                            serviceType = "수의사 방문";
                        }

                        // 예약 상태 한글화
                        if (reserveList.reserveType == "RESERVE"){
                            reserveType = "예약";
                        } else if(reserveList.reserveType == "CANCEL"){
                            reserveType = "취소";
                        } else if (reserveList.reserveType == "COMPLETE"){
                            reserveType = "완료";
                        }

                        reserveListTable += '<tr aria-hidden="true" data-toggle="tooltip" data-placement="top" title="메인 화면으로 이동">' +
                            '<th scope="row" class="text-center">' + reserveList.id + '</th>' +
                            '<td class="text-center">' + reserveList.name + '</td>' +
                            '<td class="text-center">' + serviceType + '</td>' +
                            '<td class="text-center">' + reserveList.reserveStartDate + '</td>' +
                            '<td class="text-center">' + reserveType + '</td>' +
                            '</tr> ';
                    });

                    $('.reserve-tbody').html(reserveListTable);

                    // 예약 테이블 페이징
                    pagination += '<nav aria-label="Page navigation example">\n' +
                        '                        <ul class="pagination justify-content-center">\n';

                    if (result.prev) {
                        pagination +='                            <li className="page-item disabled">\n' +
                            '                                <a class="page-link page-prev" data-type="reserve" data-preve="' + (result.start - 1)  + '" href="#" tabIndex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>\n' +
                            '                            </li>\n';
                    }


                    $.each(result.pageList, function (index, page) {

                        let active = result.page == page ? 'active' : '';
                        pagination += '<li class="page-item ' + active + '">';
                        pagination += '<a class="page-link page-num" data-type="reserve" data-page="' + page +'" href="#">' + page + '</a></li>'
                    })

                    if (result.next) {
                        pagination += '                            <li class="page-item">\n' +
                            '                                <a class="page-link page-next" data-type="reserve" href="#" data-end="' + (result.end + 1) +'"><span aria-hidden="true">&raquo;</span> </a>\n' +
                            '                            </li>\n';
                    }

                    pagination +='                        </ul>\n' +
                        '                    </nav>';

                    $('.reserve-table-pagination').html(pagination);

                    console.log(result);
                }
            })
        }


        /* 페이지 버튼 클릭 시 페이지 변경 */
        $(document).on('click', '.page-link', function (e) {
            e.preventDefault();

            let page = $(this).data('page');

            let type = $(this).data("type");


            if (type == "user") {
                userList(page);
            } else if (type == "reserve") {
                reserveList(page)
            }


        });

        /* 이전 페이지 클릭 시 start - 1 페이지로 변경 */
        $(document).on('click', '.page-prev', function (e) {
            e.preventDefault();

            let page = $(this).data('preve');

            let type = $(this).data("type");


            if (type == "user") {
                userList(page);
            } else if (type == "reserve") {
                reserveList(page)
            }
        });

        /* 다음 페이지 클릭 시 start - 1 페이지로 변경 */
        $(document).on('click', '.page-next', function (e) {
            e.preventDefault();

            let page = $(this).data('end');

            let type = $(this).data("type");


            if (type == "user") {
                userList(page);
            } else if (type == "reserve") {
                reserveList(page)
            }
        });
    });
</script>
</html>
