<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');"
                 data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div aria-live="polite" aria-atomic="true" style="position: fixed; z-index: 9999; min-height: 200px;">
                    <!-- Position it -->
                    <div style="position: fixed; top: 15px; right: 15px;" class="content-section">

                    </div>
                </div>
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Services<i
                                class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">Services</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row d-flex no-gutters">
                    <div class="col-md-5 d-flex">
                        <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
                             style="background-image:url('/petppy/images/about-1.jpg');">
                        </div>
                    </div>
                    <div class="col-md-7 pl-md-5 py-md-5">
                        <div class="heading-section pt-md-5">
                            <h2 class="mb-4">Why Choose Us?</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-stethoscope"></span></div>
                                <div class="text pl-3">
                                    <h4>Care Advices</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-customer-service"></span></div>
                                <div class="text pl-3">
                                    <h4>Customer Supports</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-emergency-call"></span></div>
                                <div class="text pl-3">
                                    <h4>Emergency Services</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-veterinarian"></span></div>
                                <div class="text pl-3">
                                    <h4>Veterinary Help</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row mb-5 pb-5">
                    <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                        <div class="d-block services text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-blind"></span>
                            </div>
                            <div class="media-body p-4">
                                <h3 class="heading">반려견 산책</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                    right.</p>
                                <a href="#"
                                   class="btn-custom d-flex align-items-center justify-content-center reservation-btn dog-walking"><span
                                        class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                        <div class="d-block services text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-grooming"></span>
                            </div>
                            <div class="media-body p-4">
                                <h3 class="heading">반려동물 미용</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                    right.</p>
                                <a href="#" class="btn-custom d-flex align-items-center justify-content-center reservation-btn pet-grooming"><span
                                        class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                        <div class="d-block services text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-dog-eating"></span>
                            </div>
                            <div class="media-body p-4">
                                <h3 class="heading">수의사 방문</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                    right.</p>
                                <a href="#" class="btn-custom d-flex align-items-center justify-content-center reservation-btn vet-visit"><span
                                        class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Modal -->
        <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reservationModalLabel">예약</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="reserve-form" id="reserve-form">
                            <div class="row">
                                <div class="hr-sect">예약하실 서비스</div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <input name="servicesType" data-id="1" data-type="DOG_WALK" id="services-type" class="form-control" value="반려견 산책" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-sect">인적사항</div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input th:if="${session.user != null}" type="text" class="form-control"
                                               th:value="${session.user.name}" disabled>
                                        <input th:unless="${session.user != null}" type="text" class="form-control"
                                               placeholder="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" th:if="${session.user != null}" class="form-control reserve-form-email" th:data-id="${session.user.id}" th:value="${session.user.email}" disabled placeholder="Vehicle number">
                                        <input type="text" th:unless="${session.user != null}" class="form-control reserve-form-email" placeholder="Vehicle number">
                                    </div>
                                </div>

                                <div class="hr-sect">예약 날짜 및 시간</div>

                                <div class="col-md-6 reserve-start-date-col">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" class="form-control appointment_date reserveStartDate" placeholder="날짜">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 time-col reserve-start-time-col">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="fa fa-clock-o"></span></div>
                                            <select type="text"  class="form-control reserveStartTime" placeholder="Time">
                                                <option value="" selected>시간</option>
                                                <option value="09:00" disabled style="color: red">09:00 AM - 예약 불가</option>
                                                <option value="11:00">11:00 AM</option>
                                                <option value="13:00">01:00 PM</option>
                                                <option value="15:00">03:00 PM</option>
                                                <option value="17:00">05:00 PM</option>
                                                <option value="19:00">07:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 address-div">
                                    <div class="hr-sect">주소</div>
                                    <div class="form-row">
                                        <div class="col-md-8 mb-3">

                                            <input type="text" class="form-control" name="postcode" id="sample4_postcode"
                                                   placeholder="우편번호">
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-success" onclick="execDaumPostcode()">우편번호 찾기</button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-7 mb-3">
                                            <input type="text" class="form-control" name="roadAddress" id="sample4_roadAddress" placeholder="도로명 주소" required>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <input type="text" class="form-control" name="jibunAddress" id="sample4_jibunAddress" placeholder="지번 주소" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-7 mb-3">
                                            <input type="text" class="form-control" name="detailAddress" id="sample4_detailAddress" placeholder="상세 주소" required>
                                        </div>
                                        <div class="col-md-5 mb-3">
                                            <input type="text" class="form-control" name="extraAddress" id="sample4_extraAddress" placeholder="참고사항" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="" id="reserveRequest" cols="30" rows="7" class="form-control"
                                                  placeholder="요청사항"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="예약하기"
                                               class="btn btn-primary py-3 px-4 reserve-submit-btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function (e) {


        $(".reservation-btn").on("click", function (e) {
            e.preventDefault();

            if ([[${session.user == null}]]) {
                $("#loginModal").modal("show");

                return false;

            } else {

                let reservationBtn = $(this);

                let email = $('#notifyBtn').data('email');

                $.ajax({
                    url: '/user/' + email,
                    type: 'get',
                    success: function (result) {
                        if (result.membershipDTO.rating === 'NONE') { // 현재 멤버십등급이 NONE인 경우 alert 후 리턴

                            // 멤버십 가입 유도 a태그 생성
                            let createA = document.createElement('a');
                            createA.setAttribute('href', "/membership");
                            createA.innerHTML="<span>멤버십 가입하기</span>";

                            swal({
                                title: '멤버십 가입 필요',
                                text: '멤버십에 가입후 이용가능합니다.',
                                icon: 'error',
                                content: createA
                            });
                            return;
                        } else { // 현재 멤버십등급이 NONE이 아닌경우 예약 모달 생성

                            $('#reserve-form')[0].reset();
                            // 회원 주소로 주소 input 추가
                            $('input[name="roadAddress"]').val(result.roadAddress);
                            $('input[name="postcode"]').val(result.postcode);
                            $('input[name="jibunAddress"]').val(result.jibunAddress);
                            $('input[name="detailAddress"]').val(result.detailAddress);
                            $('input[name="extraAddress"]').val(result.extraAddress);

                            let dogWalkCount;
                            let petGroomingCount;
                            let vetVisitCount;

                            if (result.membershipDTO.rating === 'PERSONAL') {
                                dogWalkCount = 3
                                petGroomingCount = 1
                                vetVisitCount = 1
                            } else if (result.membershipDTO.rating === 'BUSINESS') {
                                dogWalkCount = 5
                                petGroomingCount = 3
                                vetVisitCount = 3
                            } else if(result.membershipDTO.rating === 'ULTIMATE'){
                                dogWalkCount = 15
                                petGroomingCount = 5
                                vetVisitCount = 5
                            }

                            // 각 서비스에 맞는 input value로 변경
                            if (reservationBtn.hasClass('dog-walking')) {

                                $("#reservationModal").find('#services-type').val('강아지 산책      ---      ' + result.membershipDTO.dogWalkCount + ' / ' + dogWalkCount);
                                $("#reservationModal").find('#services-type').attr('data-id', '1');
                                $("#reservationModal").find('#services-type').attr('data-type', 'DOG_WALK');

                                $('.address-div').show();
                            } else if (reservationBtn.hasClass('pet-grooming')) {
                                $("#reservationModal").find('#services-type').val('애완동물 미용      ---      ' + result.membershipDTO.petGroomingCount + ' / ' + petGroomingCount);
                                $("#reservationModal").find('#services-type').attr('data-id', '2');
                                $("#reservationModal").find('#services-type').attr('data-type', 'PET_GROOMING');

                                $('.address-div').hide();

                            } else if (reservationBtn.hasClass('vet-visit')) {
                                $("#reservationModal").find('#services-type').val('수의사 방문      ---      ' + result.membershipDTO.vetVisitCount + ' / ' + vetVisitCount);
                                $("#reservationModal").find('#services-type').attr('data-id', '3');
                                $("#reservationModal").find('#services-type').attr('data-type', 'VET_VISIT');
                                $('.address-div').show();
                            }



                            $("#reservationModal").modal("show");
                        }
                    }
                });


            }


        });





        $(document).on('click', '.reserve-submit-btn', function (e) {
            e.preventDefault();

            // ReserveDTO 변수
            let userId = $('.reserve-form-email').data('id');   // 회원 번호
            let email = $('.reserve-form-email').val();         // 회원 이메일
            let servicesId = $('#services-type').data('id');    // 서비스 번호
            let servicesType = $('#services-type').data('type');    // 서비스 타입
            let serviceName = $("#services-type").val();
            let reserveStartDate = $('.reserveStartDate').val();    // 예약일 (시작)
            let reserveStartTime = $('.reserveStartTime').val();    // 예약일 (종료)
            let reserveStartDateTime = (reserveStartDate + "-" + reserveStartTime).replace(':', '-');   // 예약일 + 예약시간
            let reserveRequest = $('#reserveRequest').val();    // 요청사항

            // 주소 변수
            let roadAddress =  $('input[name="roadAddress"]').val();
            let postcode =  $('input[name="postcode"]').val();
            let jibunAddress =  $('input[name="jibunAddress"]').val();
            let detailAddress =  $('input[name="detailAddress"]').val();
            let extraAddress =  $('input[name="extraAddress"]').val();

            // 주소 객체
            let address = {
                roadAddress: roadAddress,
                postcode: postcode,
                jibunAddress: jibunAddress,
                detailAddress: detailAddress,
                extraAddress: extraAddress
            }


            let reserveDTO = JSON.stringify({   // 예약 데이터
                userId: userId,
                email: email,
                servicesId: servicesId,
                servicesType: servicesType,
                reserveStartDate: reserveStartDateTime,
                request: reserveRequest,
                address: address
            });

            if (reserveStartDate === "") { // 예약일 선택안할 시 alert후 리턴
                swal("예약실패", "이용하실 날짜를 선택해주세요!");
                return false;
            } else if (reserveStartTime === "") { // 예약시간 선택안할 시 alert후 리턴
                swal("예약실패", "이용하실 시간을 선택해주세요!");
                return false;
            } else if(servicesId == "1" || servicesId == "3") {
                if (postcode.trim() === "" || roadAddress.trim()  === "" || jibunAddress.trim()  === "") {
                    swal("예약실패", "주소를 정확히 입력해주세요!");
                    return false;
                }
            }


            $.ajax({    // 예약 생성 ajax
                url: '/reserve/create',
                type: 'post',
                data: reserveDTO,
                contentType: 'application/json',
                dataType: 'json',
            }).done(function (reserveResult) {
                let message = serviceName + "서비스를 예약하셨습니다.";
                let url = "/reserve/reserveList"

                let notificationData = {
                    targetEmail: email,
                    message: message,
                    notificationType: "reserve",
                    url: url
                };

                $.ajax({
                    type: 'post',
                    url: '/notify/save',
                    data: JSON.stringify(notificationData),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'text',
                    success: function (data) {
                        if (socket) {
                            let socketMsg = "예약," + email + "," + message + "," + url;
                            /*console.log("msgmsg : " + socketMsg);*/
                            socket.send(socketMsg);
                        }

                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }).always(function (reserveResult) {

                console.log(reserveResult);

                if (reserveResult.reserveType === "RESERVE") {
                    // 예약 완료 메시지
                    let msg = '예약이 완료되었습니다\n';
                    msg += '서비스: ' + serviceName + '\n';
                    msg += '예약일: ' + reserveResult.reserveStartDate;

                    swal({
                        title: "예약완료",
                        text: msg,
                        icon: "success"
                    });
                } else {
                    swal({
                        title: "예약실패",
                        icon: 'error'
                    });
                }
            });

            $("#reservationModal").modal("hide");

        })

        });



</script>
</html>