<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');"
                 data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Services<i
                                class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">Services</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row d-flex no-gutters">
                    <div class="col-md-5 d-flex">
                        <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0"
                             style="background-image:url('/petppy/images/about-1.jpg');">
                        </div>
                    </div>
                    <div class="col-md-7 pl-md-5 py-md-5">
                        <div class="heading-section pt-md-5">
                            <h2 class="mb-4">Why Choose Us?</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-stethoscope"></span></div>
                                <div class="text pl-3">
                                    <h4>Care Advices</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-customer-service"></span></div>
                                <div class="text pl-3">
                                    <h4>Customer Supports</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-emergency-call"></span></div>
                                <div class="text pl-3">
                                    <h4>Emergency Services</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-veterinarian"></span></div>
                                <div class="text pl-3">
                                    <h4>Veterinary Help</h4>
                                    <p>Far far away, behind the word mountains, far from the countries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row mb-5 pb-5">
                    <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                        <div class="d-block services text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-blind"></span>
                            </div>
                            <div class="media-body p-4">
                                <h3 class="heading">Dog Walking</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                    right.</p>
                                <a href="#"
                                   class="btn-custom d-flex align-items-center justify-content-center reservation-btn dog-walking"><span
                                        class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                        <div class="d-block services text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-grooming"></span>
                            </div>
                            <div class="media-body p-4">
                                <h3 class="heading">Pet Grooming</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                    right.</p>
                                <a href="#" class="btn-custom d-flex align-items-center justify-content-center reservation-btn pet-grooming"><span
                                        class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                        <div class="d-block services text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="flaticon-dog-eating"></span>
                            </div>
                            <div class="media-body p-4">
                                <h3 class="heading">Pet Hotel</h3>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                                    right.</p>
                                <a href="#" class="btn-custom d-flex align-items-center justify-content-center reservation-btn pet-hotel"><span
                                        class="fa fa-chevron-right"></span><i class="sr-only">Read more</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img"
                 style="background-image: url('/petppy/images/bg_3.jpg');">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex justify-content-end">
                    <div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate">
                        <h2 class="mb-4">Reservation</h2>
                        <form action="#" class="appointment">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                                <select name="" id="" class="form-control">
                                                    <option value="">Select services</option>
                                                    <option value="">Cat Sitting</option>
                                                    <option value="">Dog Walk</option>
                                                    <option value="">Pet Spa</option>
                                                    <option value="">Pet Grooming</option>
                                                    <option value="">Pet Daycare</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input th:if="${session.user != null}" type="text" class="form-control"
                                               th:value="${session.user.name}">
                                        <input th:unless="${session.user != null}" type="text" class="form-control"
                                               placeholder="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Vehicle number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" class="form-control appointment_date" placeholder="Date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="fa fa-clock-o"></span></div>
                                            <input type="text" class="form-control appointment_time" placeholder="Time">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="7" class="form-control"
                                                  placeholder="요청사항"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="예약하기"
                                               class="btn btn-primary py-3 px-4 reservation-btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>-->

        <!-- Modal -->
        <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reservationModalLabel">예약</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="reserve-form" id="reserve-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <div class="select-wrap">
                                                <!--<select name="servicesType" id="services-type-select" class="form-control">
                                                    <option value="">Select services</option>
                                                    <option data-id="1" value="CAT_SITTING">고양이 돌봄</option>
                                                    <option data-id="2" value="DOG_WALK">강아지 산책</option>
                                                    <option data-id="3" value="PET_SPA">반려동물 목욕</option>
                                                    <option data-id="4" value="PET_GROOMING">반려동물 미용</option>
                                                    <option data-id="5" value="PET_DAYCARE">반려동물 종일 돌봄</option>
                                                </select>-->
                                                <input name="servicesType" data-id="2" id="services-type" class="form-control" value="강아지 산책" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input th:if="${session.user != null}" type="text" class="form-control"
                                               th:value="${session.user.name}" disabled>
                                        <input th:unless="${session.user != null}" type="text" class="form-control"
                                               placeholder="name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" th:if="${session.user != null}" class="form-control reserve-form-email" th:data-id="${session.user.id}" th:value="${session.user.email}" disabled placeholder="Vehicle number">
                                        <input type="text" th:unless="${session.user != null}" class="form-control reserve-form-email" placeholder="Vehicle number">
                                    </div>
                                </div>
                                <div class="col-md-6 reserve-start-date-col">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="fa fa-calendar"></span></div>
                                            <input type="text" class="form-control appointment_date reserveStartDate" placeholder="날짜">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 time-col reserve-start-time-col">
                                    <div class="form-group">
                                        <div class="input-wrap">
                                            <div class="icon"><span class="fa fa-clock-o"></span></div>
                                            <select type="text"  class="form-control reserveStartTime" placeholder="Time">
                                                <option selected>시간</option>
                                                <option value="09:00" disabled style="color: red">09:00 AM - 예약 불가</option>
                                                <option value="11:00">11:00 AM</option>
                                                <option value="13:00">01:00 PM</option>
                                                <option value="15:00">03:00 PM</option>
                                                <option value="17:00">05:00 PM</option>
                                                <option value="19:00">07:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="" id="reserveRequest" cols="30" rows="7" class="form-control"
                                                  placeholder="요청사항"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="예약하기"
                                               class="btn btn-primary py-3 px-4 reserve-submit-btn">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function (e) {

        $('.reserveStartDate').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true,
            'startDate' : '0d',
            'title' : '예약일',
            "multidate" : 'true', //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false
            "multidateSeparator" :"~"
        });

        $(".reservation-btn").on("click", function (e) {
            e.preventDefault();

            if ([[${session.user == null}]]) {
                $("#loginModal").modal("show");

                return;
            }

            if ($(this).hasClass('dog-walking')) {
                $("#reservationModal").find('#services-type').val('강아지 산책');
                $('#reserve-form')[0].reset();
                $('.reserve-start-date-col').attr('class', 'col-md-6 reserve-start-date-col');
                $('.reserve-start-time-col').show();
                $("#reservationModal").modal("show");
            } else if ($(this).hasClass('pet-grooming')) {
                $("#reservationModal").find('#services-type').val('애완동물 미용');
                $('#reserve-form')[0].reset();
                $('.reserve-start-date-col').attr('class', 'col-md-6 reserve-start-date-col');
                $('.reserve-start-time-col').show();
                $("#reservationModal").modal("show");
            } else if ($(this).hasClass('pet-hotel')) {
                $("#reservationModal").find('#services-type').val('애완동물 호텔');
                $('#reserve-form')[0].reset();
                $('.reserve-start-time-col').hide();
                $('.reserve-start-date-col').attr('class', 'col-md-12 reserve-start-date-col');
                $('.reserveStartDate').removeClass('appointment_date')
                $("#reservationModal").modal("show");
            }
        });

        $(document).on('click', '.reserve-submit-btn', function (e) {
            e.preventDefault();

            var userId = $('.reserve-form-email').data('id');
            var email = $('.reserve-form-email').val();
            var servicesId = $('#services-type-select').find('option:selected').data('id');
            var servicesType = $('#services-type-select').val();
            var reserveStartDate = $('.reserveStartDate').val();
            var reserveStartTime = $('.reserveStartTime').val();
            var reserveStartDateTime = (reserveStartDate + "-" + reserveStartTime).replace(':', '-');
            var reserveRequest = $('#reserveRequest').val();

            var reserveDTO = JSON.stringify({   // 예약 데이터
                userId : userId,
                email : email,
                servicesId : servicesId,
                servicesType : servicesType,
                reserveStartDate : reserveStartDateTime,
                request : reserveRequest
            });

            if (servicesType === "") {
                alert('이용하실 서비스를 선택해주세요!');
                return false;
            } else if (reserveStartDate === "") {
                alert('이용하실 날짜를 선택해주세요!');
                return false;
            }




            $.ajax({
                url : '/reserve/create',
                type : 'post',
                data : reserveDTO,
                contentType: 'application/json',
                dataType : 'json',
                success : function (result) {
                    console.log(result);

                    alert('예약이 완료되었습니다.');
                }

            });

        });


    });
</script>
</html>