<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="메인 화면으로 이동">Home <i class="ion-ios-arrow-forward"></i></a></span>
                            <span>DashBoard <i class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">DashBoard</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">내 프로필</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">내 멤버십</a>
                            <a class="list-group-item list-group-item-action" id="list-board-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">작성글 관리</a>
                            <a class="list-group-item list-group-item-action" id="list-comment-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">댓글 관리</a>
                            <a class="list-group-item list-group-item-action" id="list-review-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">리뷰 관리</a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="card text-center">
                                   <!-- <div class="card-header bg-info text-white">
                                        Profile
                                    </div>-->
                                    <div class="card-body">
                                        <h5 class="card-title">[[${session.user.name}]]</h5>
                                        <p class="card-text" th:text="${session.user.email}"></p>
                                        <p th:if="${userDTO.membershipDTO.rating.toString() == 'NONE'}" class="card-text">멤버십 없음</p>
                                        <p th:unless="${userDTO.membershipDTO.rating.toString() == 'NONE'}" class="card-text" th:text="${userDTO.membershipDTO.rating}"></p>
                                        <p class="card-text">[[${#temporals.format(session.user.joinedDate, 'yyyy-MM-dd')}]]일에 가입</p>
                                        <a href="#" class="btn btn-primary">회원 정보 설정하기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                <!--<div class="card text-center">
                                    <div class="card-header bg-info text-white">
                                        Membership
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">[[${session.user.name}]]님의 멤버쉽은 '[[${session.user.membershipDTO.rating}]]'입니다.</h5>
                                        <p class="card-text" th:if="${session.user.membershipDTO.rating.toString() != 'NONE'}">
                                            멤버십 기간 : [[${#temporals.format(session.user.membershipDTO.createdDate, 'yyyy-MM-dd')}]] ~
                                            [[${#temporals.format(session.user.membershipDTO.lastDate, 'yyyy-MM-dd')}]]
                                        </p>
                                        <p class="card-text" th:if="${session.user.membershipDTO.rating.toString() == 'NONE'}">
                                        <h5>멤버쉽에 가입하고 Petppy에 다양한 <a th:href="@{/membership}">혜택</a>을 누리세요!</h5>
                                        </p>
                                        <a th:href="@{/membership}" class="btn btn-primary" th:if="${session.user.membershipDTO.rating.toString() == 'NONE'}">멤버십 가입하기</a>
                                        <a href="#" class="btn btn-primary" th:unless="${session.user.membershipDTO.rating.toString() == 'NONE'}">멤버십 취소하기</a>
                                    </div>
                                </div>-->
                                <div class="jumbotron bg-transparent">
                                    <h3>멤버십 상세정보</h3>
                                    <p th:if="${userDTO.membershipDTO.rating.toString() == 'NONE'}">현재 이용중인 멤버십이 없습니다. <a th:href="@{/membership}">가입하기</a></p>
                                    <div th:unless="${userDTO.membershipDTO.rating.toString() == 'NONE'}">
                                        <p>[[${userDTO.name}]]님의 멤버십은 <span class="text-success">[[${userDTO.membershipDTO.rating}]]</span>입니다.</p>
                                        <p>
                                            멤버십 기간: [[${#temporals.format(userDTO.membershipDTO.modifiedDate, 'yyyy.MM.dd')}]] ~  [[${#temporals.format(userDTO.membershipDTO.lastDate, 'yyyy.MM.dd')}]]
                                        </p>
                                        <p>아래 표에서 각 멤버십에 혜택을 확인할 수 있습니다.</p>
                                    </div>

                                    <hr class="my-4">
                                    <div class="row">
                                        <div class="col-md-4 ftco-animate">
                                            <div class="block-7">
                                                <div class="text-center p-4">
                                                    <span class="excerpt d-block">Personal</span>
                                                    <span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mos</sub></span>
                                                    <ul class="pricing-text mb-5">
                                                        <li><span class="fa fa-check mr-2"></span>3 Dog Walk</li>
                                                        <li><span class="fa fa-check mr-2"></span>1 Vet Visit</li>
                                                        <li><span class="fa fa-check mr-2"></span>1 Pet Spa</li>
                                                        <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ftco-animate">
                                            <div class="block-7">
                                                <div class="text-center p-4">
                                                    <span class="excerpt d-block">Business</span>
                                                    <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mos</sub></span>
                                                    <ul class="pricing-text mb-5">
                                                        <li><span class="fa fa-check mr-2"></span>5 Dog Walk</li>
                                                        <li><span class="fa fa-check mr-2"></span>3 Vet Visit</li>
                                                        <li><span class="fa fa-check mr-2"></span>3 Pet Spa</li>
                                                        <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ftco-animate">
                                            <div class="block-7">
                                                <div class="text-center p-4">
                                                    <span class="excerpt d-block">Ultimate</span>
                                                    <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mos</sub></span>
                                                    <ul class="pricing-text mb-5">
                                                        <li><span class="fa fa-check mr-2"></span>15 Dog Walk</li>
                                                        <li><span class="fa fa-check mr-2"></span>5 Vet Visit</li>
                                                        <li><span class="fa fa-check mr-2"></span>5 Pet Spa</li>
                                                        <li><span class="fa fa-check mr-2"></span>Free Supports</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-outline-primary btn-lg" href="#" role="button">변경/해지</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                <ul class="list-group list-group-flush" id="board-group">

                                </ul>

                                <div class="row mt-5">
                                    <div class="col text-center">
                                        <div class="block-27">
                                            <ul>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="board-pagination-div">

                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                <ul class="comment-list pt-5">

                                </ul>

                                <div class="row mt-5">
                                    <div class="col text-center">
                                        <div class="block-27">
                                            <ul>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-pagination-div">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function (e) {

       var email = [[${session.user.email}]];

       boardList(1);

       function boardList(page) {

           var page = page || 1;

           $.ajax({
               url : '/board/' + email + '/' + page,
               data : {'email':email, 'page':page},
               dataType: 'json',
               success : function (result) {
                   var boardList = "";
                   var pagination = "";

                   console.log(result);

                   $.each(result.dtoList, function (index, board) {

                       var name = board.email.split('@')[0];
                       var date = board.createdDate.split('T')[0];

                       boardList += '<a href="/board/read?id=' + board.boardId + '" class="list-group-item list-group-item-action">' +
                           '<div class="d-flex w-100 justify-content-between">' +
                           '<h5 class="mb-1"><b aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="제목">' + board.title  +'</b></h5>' +
                           '<small aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="작성 일">' + date + '</small></div>' +
                           '<small aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="작성자">' + name + '</small>&nbsp;' +
                           '<span class="fa fa-comment" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="댓글 수" style="color: #00bd56;"> ' + board.commentCount + '</span>' +
                           '<small class="float-right" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="조회수">' + board.hit + '</small></a>';
                   });

                   $('#board-group').html(boardList);

                   /* 페이징 */
                   pagination += '<nav aria-label="Page navigation example">\n' +
                       '                        <ul class="pagination justify-content-center">\n';

                   if (result.prev) {
                       pagination +='                            <li className="page-item disabled">\n' +
                           '                                <a class="page-link page-prev" data-preve="' + (result.start - 1)  + '" href="#" tabIndex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>\n' +
                           '                            </li>\n';
                   }


                   $.each(result.pageList, function (index, page) {

                       var active = result.page == page ? 'active' : '';
                       pagination += '<li class="page-item ' + active + '">';
                       pagination += '<a class="page-link page-num" data-page="' + page +'" href="#">' + page + '</a></li>'
                   })

                   if (result.next) {
                       pagination += '                            <li class="page-item">\n' +
                           '                                <a class="page-link page-next" href="#" data-end="' + (result.end + 1) +'"><span aria-hidden="true">&raquo;</span> </a>\n' +
                           '                            </li>\n';
                   }

                   pagination +='                        </ul>\n' +
                       '                    </nav>';

                   $('.board-pagination-div').html(pagination);

               }
           });

           /* 게시글 & 댓글 페이지 버튼 클릭 시 페이지 변경 */
           $(document).on('click', '.page-link', function (e) {
               e.preventDefault();

               var page = $(this).data('page');

               if ($(this).closest('div').hasClass('board-pagination-div')) {
                   boardList(page);
               } else {
                   commentList(page);
               }


           });

           /* 게시글 & 댓글 이전 페이지 클릭 시 start - 1 페이지로 변경 */
           $(document).on('click', '.page-prev', function (e) {
               e.preventDefault();

               var page = $(this).data('preve');

               if ($(this).closest('div').hasClass('board-pagination-div')) {
                   boardList(page);
               } else {
                   commentList(page);
               }
           });


           /* 게시글 & 댓글 다음 페이지 클릭 시 end + 1 페이지로 변경 */
           $(document).on('click', '.page-next', function (e) {
               e.preventDefault();

               var page = $(this).data('end');

               if ($(this).closest('div').hasClass('board-pagination-div')) {
                   boardList(page);
               } else {
                   commentList(page);
               }
           });
       }

       commentList(1);

       /* 유저 이메일로 댓글 목록 조회 */
       function commentList(page) {

           var page = page || 1;

           $.ajax({
               url : '/comment/userPage/' + email + '/' + page,
               data : {'email':email, 'page':page},
               dataType: 'json',
               success : function (result) {
                   var commentList = "";

                   var pagination = "";

                   console.log(result);

                   $.each(result.dtoList, function (index, comment) {

                       var name = comment.email.split('@')[0];
                       var date = comment.createdDate.split('T')[0];

                       commentList += '<li class="comment" id="comment' + comment.id + '" data-comment="'+ comment.id + '">\n' +
                           '                                    <div class="comment-body" id="comment-body' + comment.id + '" data-comment="' + comment.id + '">' + name + '&nbsp;/&nbsp;\n' +
                           '                                        <span class="meta">' +  date  + '</span>\n' +
                           '                                        <p class="comment-content">' + comment.content + '</p>\n' +
                           '                                        <p class="mr-auto">\n' +
                           '                                            <a href="/board/read?id=' + comment.boardId + '" class="text-black-50 comment-input" aria-hidden="true"\n' +
                           '                                               data-toggle="tooltip" data-placement="top" title="게시글로 이동">게시글</a>\n';
                       commentList +=  '                                                    /&nbsp;\n' +
                           '                                                    <a href="#" class="p2 text-black-50 comment-modify-btn"\n' +
                           '                                                       data-comment="' + comment.id + '" aria-hidden="true"\n' +
                           '                                                       data-toggle="tooltip" data-placement="top" title="댓글 수정">수정</a>\n' +
                           '                                                    &nbsp;/&nbsp;\n' +
                           '                                                    <a href="#" class="p2 text-black-50 comment-remove-btn"\n' +
                           '                                                       data-comment="' + comment.id + '" aria-hidden="true"\n' +
                           '                                                       data-toggle="tooltip" data-placement="top" title="댓글 삭제">삭제</a>\n';
                       commentList += '                                        </p>\n' +
                           '                                        <p class="d-flex">\n' +
                           '                                            <a href="#" class="reply" data-comment="' + comment.id + '">\n' +
                           '                                                <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i> 답글\n' + comment.childrenCount + '개 보기\n' +
                           '                                            </a>\n' +
                           '                                        </p>\n' +
                           '                                    </div>';
                   });

                   $('.comment-list').html(commentList);

                   /* 페이징 */
                   pagination += '<nav aria-label="Page navigation example">\n' +
                       '                        <ul class="pagination justify-content-center">\n';

                   if (result.prev) {
                       pagination +='                            <li className="page-item disabled">\n' +
                           '                                <a class="page-link page-prev" data-preve="' + (result.start - 1)  + '" href="#" tabIndex="-1" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>\n' +
                           '                            </li>\n';
                   }


                   $.each(result.pageList, function (index, page) {

                       var active = result.page == page ? 'active' : '';
                       pagination += '<li class="page-item ' + active + '">';
                       pagination += '<a class="page-link page-num" data-page="' + page +'" href="#">' + page + '</a></li>'
                   })

                   if (result.next) {
                       pagination += '                            <li class="page-item">\n' +
                           '                                <a class="page-link page-next" href="#" data-end="' + (result.end + 1) +'"><span aria-hidden="true">&raquo;</span> </a>\n' +
                           '                            </li>\n';
                   }

                   pagination +='                        </ul>\n' +
                       '                    </nav>';

                   $('.comment-pagination-div').html(pagination);
               }
           });

           /* 답글 조회  */
           $(document).on('click', '.reply', function (e) {
               e.preventDefault();

               var parentId = $(this).data('comment');

               console.log(parentId);

               $.ajax({
                   url : '/comment/' + parentId,
                   type : 'get',
                   data: parentId,
                   dataType : 'json',
                   success : function (result) {

                       if ($('#comment' + parentId).find('.children').length) {
                           $('#comment' + parentId).find('.children').remove();
                       } else {
                           var childrenList = '<ul class="children">';

                           console.log(result);

                           $.each(result, function (index, children) {

                               var name = children.email.split('@')[0];
                               var date = children.createdDate.split('T')[0];


                               childrenList += '                                            <li class="comment">\n' +
                                   '                                                <div class="vcard bio">\n' +
                                   '                                                    <img src="/petppy/images/simbolLogo.PNG" alt="Image placeholder">\n' +
                                   '                                                </div>\n' +
                                   '                                                <div class="comment-body" id="comment-body">\n' +
                                   name + '&nbsp;/&nbsp;\n' +
                                   '                                                    <span class="meta">' + date + '</span>\n' +
                                   '                                                    <p class="comment-content">' + children.content + '</p>\n' +
                                   '                                                    <p class="mr-auto">\n' +
                                   '                                                        <a href="#" class="text-black-50 comment-input"\n' +
                                   '                                                           aria-hidden="true" data-toggle="tooltip" data-placement="top"\n' +
                                   '                                                           title="답글 작성">답글</a>\n';
                                   childrenList +='                                                                /&nbsp;\n' +
                                       '                                                                <a href="#" class="p2 text-black-50 comment-modify-btn"\n' +
                                       '                                                                   data-comment="' + children.id + '" aria-hidden="true"\n' +
                                       '                                                                   data-toggle="tooltip" data-placement="top"\n' +
                                       '                                                                   title="댓글 수정">수정</a> &nbsp;/&nbsp;\n' +
                                       '                                                                <a href="#" class="p2 text-black-50 comment-remove-btn"\n' +
                                       '                                                                   data-comment="' + children.id + '" aria-hidden="true"\n' +
                                       '                                                                   data-toggle="tooltip" data-placement="top"\n' +
                                       '                                                                   title="댓글 삭제">삭제</a>\n';
                                   childrenList +=  '                                                    </p>\n' +
                                       '                                                </div>\n' +
                                       '                                            </li>\n';

                           });

                           childrenList += '</ul>';

                           $('#comment' + parentId).append(childrenList);
                       }

                   }
               })
           });

       }
    });
</script>
</html>