<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="메인 화면으로 이동">Home <i class="ion-ios-arrow-forward"></i></a></span>
                            <span>DashBoard <i class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">DashBoard</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">내 프로필</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">내 멤버십</a>
                            <a class="list-group-item list-group-item-action" id="list-board-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">작성글 관리</a>
                            <a class="list-group-item list-group-item-action" id="list-comment-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">댓글 관리</a>
                            <a class="list-group-item list-group-item-action" id="list-review-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">리뷰 관리</a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="card text-center">
                                    <div class="card-header bg-info text-white">
                                        Profile
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">[[${session.user.name}]]</h5>
                                        <p class="card-text" th:text="${session.user.email}"></p>
                                        <p class="card-text">[[${#temporals.format(session.user.joinedDate, 'yyyy-MM-dd')}]]일에 가입</p>
                                        <a href="#" class="btn btn-primary">회원 정보 설정하기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                <div class="card text-center">
                                    <div class="card-header bg-info text-white">
                                        Membership
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">[[${session.user.name}]]님의 멤버쉽은 '[[${session.user.membershipDTO.rating}]]'입니다.</h5>
                                        <p class="card-text" th:if="${session.user.membershipDTO.rating.toString() != 'NONE'}">
                                            멤버십 기간 : [[${#temporals.format(session.user.membershipDTO.createdDate, 'yyyy-MM-dd')}]] ~
                                            [[${#temporals.format(session.user.membershipDTO.lastDate, 'yyyy-MM-dd')}]]
                                        </p>
                                        <p class="card-text" th:if="${session.user.membershipDTO.rating.toString() == 'NONE'}">
                                        <h5>멤버쉽에 가입하고 Petppy에 다양한 <a th:href="@{/membership}">혜택</a>을 누리세요!</h5>
                                        </p>
                                        <a href="#" class="btn btn-primary" th:if="${session.user.membershipDTO.rating.toString() == 'NONE'}">멤버십 가입하기</a>
                                        <a href="#" class="btn btn-primary" th:unless="${session.user.membershipDTO.rating.toString() == 'NONE'}">멤버십 취소하기</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">fff</div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">ttt</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</html>