<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div aria-live="polite" aria-atomic="true" style="position: fixed; z-index: 9999; min-height: 200px;">
                    <!-- Position it -->
                    <div style="position: fixed; top: 15px; right: 15px;" class="content-section">

                    </div>
                </div>
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="메인 화면으로 이동">Home <i class="ion-ios-arrow-forward"></i></a></span>
                            <span>ModifyForm <i class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">ModifyForm</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">주소 설정</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">비밀번호 변경</a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                <div class="card border-white mb-3 w-100">
                                    <div class="card-body">
                                        <form class="justify-content-start" method="post" action="/user/modifyUserAddress">
                                            <input type="hidden" name="email" th:value="${session.user.email}"/>
                                            <div class="form-row">
                                                <div class="col-md-10 mb-3">

                                                    <input type="text" class="form-control" name="postcode" id="sample4_postcode" th:value="${address.postcode}"
                                                           placeholder="우편번호">
                                                </div>
                                                <div class="col-auto">
                                                    <button type="button" class="btn btn-success" onclick="execDaumPostcode()">우편번호 찾기</button>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-7 mb-3">
                                                    <input type="text" class="form-control" name="roadAddress" id="sample4_roadAddress" th:value="${address.roadAddress}" placeholder="도로명 주소" required>
                                                </div>
                                                <div class="col-md-5 mb-3">
                                                    <input type="text" class="form-control" name="jibunAddress" id="sample4_jibunAddress" th:value="${address.jibunAddress}" placeholder="지번 주소" required>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-7 mb-3">
                                                    <input type="text" class="form-control" name="detailAddress" id="sample4_detailAddress" th:value="${address.detailAddress}" placeholder="상세 주소" required>
                                                </div>
                                                <div class="col-md-5 mb-3">
                                                    <input type="text" class="form-control" name="extraAddress" id="sample4_extraAddress" th:value="${address.extraAddress}" placeholder="참고사항" required>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-outline-secondary float-right address-modify-btn">주소 설정</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                <div class="card border-white mb-3 w-100">
                                    <div class="card-body password-card-div">
                                        <div class="form-group" id="password-group1">
                                            <label for="password">비밀번호</label>
                                            <input type="password" name="password" class="form-control password"  placeholder="Password">
                                            <small class="form-text text-muted">4글자 이상의 비밀번호를 입력해주세요.</small>
                                        </div>

                                        <div class="form-group" id="password-group2">
                                            <label for="password2">비밀번호 확인</label>
                                            <input type="password" class="form-control password2"  placeholder="Password확인">
                                            <small class="form-text text-muted">4글자 이상의 비밀번호를 입력해주세요.</small>
                                        </div>

                                        <div class="form-group mb-3 w-50">
                                            <label>이메일 인증</label>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control auth-number" placeholder="인증번호" aria-label="Recipient's username" aria-describedby="button-addon2">
                                                </div>

                                                <div class="col-md-4">
                                                    <button class="btn btn-outline-secondary auth-btn" type="button" id="button-addon2">인증번호 요청</button>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-outline-primary password-change-btn">비밀번호 변경하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>

<script th:inline="javascript">
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }

    $(document).ready(function (e) {
        let id;
        let authentication = false;
        var email = [[${session.user.email}]];

        $('.address-modify-btn').on('click', function (e) {
            e.preventDefault();

            var postcode = $('input[name="postcode"]').val().trim();
            var roadAddress = $('input[name="roadAddress"]').val().trim();
            var jibunAddress = $('input[name="jibunAddress"]').val().trim();
            var detailAddress = $('input[name="detailAddress"]').val().trim();
            var extraAddress = $('input[name="extraAddress"]').val().trim();

            $.ajax({
                url: '/user/modifyUserAddress',
                type: 'post',
                data: JSON.stringify ({
                    email: email,
                    postcode: postcode,
                    roadAddress: roadAddress,
                    jibunAddress: jibunAddress,
                    detailAddress: detailAddress,
                    extraAddress: extraAddress
                }),
                contentType: 'application/json;charset=utf-8',
                success: function (result) {
                    if (result) {
                        swal('주소 변경 성공', '회원님의 주소를 변경했습니다.');
                    } else {
                        swal('주소 변경 실패', '주소 변경의 실패하였습니다.\n' +
                            '다시 시도하시거나 계정을 확인해주세요.');
                    }
                }

            })
        })

        $('.auth-btn').on('click', function (e) {

            if ([[${session.user}]] != null) {

                var msg = '';
                msg += '인증 코드를 회원님이 가입하신 이메일로 발송했습니다.\n';
                msg += '메일이 도착하지 않은 경우 다시 시도하시거나 스펨함을 확인해주세요.';

                swal('이메일 인증', msg);

                $.ajax({
                    url: '/email/send',
                    type: 'post',
                    data: JSON.stringify ({
                        email: email
                    }),
                    contentType: 'application/json;charset=utf-8',
                    success: function (result) {
                        id = result;
                    }
                });
            }

        });

        $(document).on('click', '.password-change-btn', function (e) {

            var password1 = $(".password").val().trim();
            var password2 = $(".password2").val().trim();

            if (!passwordCheck(password1, password2)) {
                return false;
            }

            let authNumber = $('.auth-number').val().trim();

            if (id == null) {
                swal('비밀번호 변경 실패', '이메일 인증을 먼저 받아주세요.');
                return false;
            }

            if (authNumber === "") {
                swal('비밀번호 변경 실패', '인증번호를 입력해주세요.');
                return false;
            }



            $.ajax({
                url: '/email/' + id,
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: id,
                    authCode: authNumber
                })
            }).done(function (result) {

                if (!result) {   // resuelt가 false라면 swal후 return false;
                    swal('비밀번호 변경 실패', '인증번호가 틀립니다.');
                    return false;
                }

                $.ajax({
                    url: '/user/' + email,
                    type: 'patch',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        email: email,
                        password: password1
                    }),
                    success: function (result) {
                        if (result) {
                            swal('비밀번호 변경 성공', '비밀번호를 성공적으로 변경하였습니다.');
                            password1.val("");
                            password2.val("");
                            authNumber.val("");
                        } else {
                            swal('비밀번호 변경 실패', '비밀번호 변경에 실패했습니다.');
                        }
                    }
                })



            })
        });

        // 비밀번호 유효성 검증
        function passwordCheck(password1, password2) {

            if ($(".password").hasClass("is-invalid") === true) {
                $(".password").removeClass("is-invalid");
                $(".password1-invalid-div").remove();
            }

            if ($(".password2").hasClass("is-invalid") === true) {
                $(".password2").removeClass("is-invalid");
                $(".password2-invalid-div").remove();
            }

            if (password1 == "" || password1.length < 4 || password2 == "" || password2.length < 4 || password1 !== password2) {
                if (password1 == "" || password1.length < 4) {
                    $(".password").addClass("is-invalid");
                    $("#password-group1").append("<div class='invalid-feedback password1-invalid-div'>" + "올바른 비밀번호를 입력하세요. </div>");
                }

                if (password2 == "" || password2.length < 4) {
                    $(".password2").addClass("is-invalid");
                    $("#password-group2").append("<div class='invalid-feedback password2-invalid-div'>" + "올바른 비밀번호를 입력하세요. </div>");
                }

                if (password1 !== password2) {

                    $("#password").addClass("is-invalid");
                    $("#password-group1").append("<div class='invalid-feedback password1-invalid-div'>" + "비밀번호가 서로 다릅니다. </div>");

                    $("#password2").addClass("is-invalid");
                    $("#password-group2").append("<div class='invalid-feedback password2-invalid-div'>" + "비밀번호가 서로 다릅니다. </div>");
                }
                return false;
            } else {
                return true;
            }
        }

    });
</script>
</script>
</html>