<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/baiscLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <div class="hero-wrap bg-transparent" data-stellar-background-ratio="0.5">
            <div class="container-fluid">
                <div class="row no-gutters slider-text align-items-center justify-content-center"
                     data-scrollax-parent="true">
                    <div class="col-md-11 ftco-animate text-center">

                        <div class="row align-items-center justify-content-center">
                            <div class="card border-white mb-3 w-50">
                                <div class="card-body bg-transparent border-white"><h2></h2></div>
                                <div class="card-body">
                                    <h2 class="card-title">회원주소 설정</h2>
                                    <form class="justify-content-start" method="post" action="/user/modifyUserAddress">
                                        <input type="hidden" name="email" th:value="${session.user.email}"/>
                                        <div class="form-row">
                                            <div class="col-md-3 mb-3">

                                                <input type="text" class="form-control" name="postcode" id="sample4_postcode" th:value="${address.postcode}"
                                                       placeholder="우편번호">
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-success" onclick="execDaumPostcode()">우편번호 찾기</button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-7 mb-3">
                                                <input type="text" class="form-control" name="roadAddress" id="sample4_roadAddress" th:value="${address.roadAddress}" placeholder="도로명 주소" required>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <input type="text" class="form-control" name="jibunAddress" id="sample4_jibunAddress" th:value="${address.jibunAddress}" placeholder="지번 주소" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-7 mb-3">
                                                <input type="text" class="form-control" name="detailAddress" id="sample4_detailAddress" th:value="${address.detailAddress}" placeholder="상세 주소" required>
                                            </div>
                                            <div class="col-md-5 mb-3">
                                                <input type="text" class="form-control" name="extraAddress" id="sample4_extraAddress" th:value="${address.extraAddress}" placeholder="참고사항" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-outline-secondary float-right">주소 설정</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</script>
</html>