<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>User Page <i class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">회원설정</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row d-flex no-gutters">
                    <div class="col-md-5 d-flex pl-md-5 py-md-5">
                        <div class="heading-section pt-md-5">
                            <h2 class="mb-4"></h2>
                        </div>
                        <div class="card border-white">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-id-badge" aria-hidden="true"></i>&nbsp;&nbsp;[[${session.user.name}]]</h5>
                                <p class="card-text">멤버십에 가입하면 Petppy에서 제공하는 Pet Care와 Hotel Service등 최고의 서비스를 제공받을 수 있습니다!</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <span th:align="center">[[${userDTO.role}]]</span>
                                <li class="list-group-item"><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;&nbsp;멤버십 : [[${userDTO.membershipDTO.rating}]]</li>
                                <li class="list-group-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp;멤버십 기간 :
                                    <span th:text="${#strings.equals(userDTO.membershipDTO.rating, 'NONE')}? 'NONE' : ${#temporals.format(userDTO.membershipDTO.createdDate, 'yyyy.MM.dd')} + '~' + ${#temporals.format(userDTO.membershipDTO.lastDate, 'yyyy.MM.dd')}"></span>
                                </li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 pl-md-5 py-md-5">
                        <div class="heading-section pt-md-5">
                            <h2 class="mb-4"></h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-calendar"></span></div>
                                <div class="text pl-3">
                                    <h4><a href="#">Service 예약 확인</a></h4>
                                    <p>[[${userDTO.name}]]님께서 예약한 서비스 예약 확인</p>
                                </div>
                            </div>
                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-truck"></span></div>
                                <div class="text pl-3">
                                    <h4><a href="#">주문/배송 조회</a></h4>
                                    <p>[[${userDTO.name}]]님께서 주문하신 상품의 주문 및 배송 정보 조회</p>
                                </div>
                            </div>

                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user-circle"></span></div>
                                <div class="text pl-3">
                                    <h4><a href="#">내 정보</a></h4>
                                    <p>[[${userDTO.name}]]님의 각종 회원정보</p>
                                </div>
                            </div>

                            <div class="col-md-6 services-2 w-100 d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-pencil-square-o"></span></div>
                                <div class="text pl-3">
                                    <h4><a th:href="@{/user/modifyForm}">회원정보 설정</a></h4>
                                    <p>주소 및 비밀번호등 회원정보 수정</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</html>