<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');"
                 data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div aria-live="polite" aria-atomic="true" style="position: fixed; z-index: 9999; min-height: 200px;">
                    <!-- Position it -->
                    <div style="position: fixed; top: 15px; right: 15px;" class="content-section">

                    </div>
                </div>
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Q&A<i
                                class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">Q&A</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light ftco-faqs">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <!--<div class="col-lg-4 order-md-last">
                        <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url('/petppy/images/about.jpg');">
                        </div>
                        <div class="d-flex mt-3">
                            <div class="img img-2 mr-md-2" style="background-image:url('/petppy/images/about-2.jpg');"></div>
                            <div class="img img-2 ml-md-2" style="background-image:url('/petppy/images/about-3.jpg');"></div>
                        </div>
                    </div>-->

                    <div class="col-lg-6">
                        <div class="heading-section mb-5 mt-5 mt-lg-0">
                            <h2 class="mb-3">Frequently Asks Questions</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                        <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header p-0" id="headingOne">
                                    <h2 class="mb-0">
                                        <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                            <p class="mb-0">멤버십 가능 방법</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>
<!--                                                <div class="img img-2 mr-md-2" style="background-image:url('/petppy/images/about-2.jpg');"></div>-->
                                                <figure class="figure">
                                                    <img src="/petppy/images/about-2.jpg" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/about-2.jpg" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                                                </figure>
                                            </li>
                                            <li>When she reached the first hills of the Italic Mountains</li>
                                            <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                            <li>Separated they live in Bookmarksgrove right</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingTwo" role="tab">
                                    <h2 class="mb-0">
                                        <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                            <p class="mb-0">How to manage your pets?</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>Far far away, behind the word mountains</li>
                                            <li>Consonantia, there live the blind texts</li>
                                            <li>When she reached the first hills of the Italic Mountains</li>
                                            <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                            <li>Separated they live in Bookmarksgrove right</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingThree" role="tab">
                                    <h2 class="mb-0">
                                        <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                            <p class="mb-0">What is the best grooming for your pets?</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>Far far away, behind the word mountains</li>
                                            <li>Consonantia, there live the blind texts</li>
                                            <li>When she reached the first hills of the Italic Mountains</li>
                                            <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                            <li>Separated they live in Bookmarksgrove right</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingFour" role="tab">
                                    <h2 class="mb-0">
                                        <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                            <p class="mb-0">What are those requirements for sitting pets?</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body py-3 px-0">
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
</html>