<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');"
                 data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div aria-live="polite" aria-atomic="true" style="position: fixed; z-index: 9999; min-height: 200px;">
                    <!-- Position it -->
                    <div style="position: fixed; top: 15px; right: 15px;" class="content-section">

                    </div>
                </div>
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Q&A<i
                                class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">Q&A</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light ftco-faqs">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">

                    <div class="col-lg-6">
                        <div class="heading-section mb-5 mt-5 mt-lg-0">
                            <h2 class="mb-3">Frequently Asks Questions</h2>
                            <p>아래 항목들을 클릭하여 PETPPY의 이용방법과 문의를 할 수 있습니다.</p>
                        </div>
                        <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header p-0" id="headingOne">
                                    <h2 class="mb-0">
                                        <button href="#membershipStart" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                                            <p class="mb-0">멤버십 가입</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="membershipStart" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership01.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">홈페이지 상단의 <a target="_blank" th:href="@{/membership}">MEMBERSHIP</a> 메뉴를 클릭</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership02.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">원하는 멤버십 등급을 선택 후 카카오 페이로 간편결제 진행</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership03.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">QR코드 또는 카카오톡 메시지로 간편결제 진행</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership04.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">화면 안내에 따라 카카오톡 간편결제 진행</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                <img src="/petppy/images/QnAMembership05.PNG" class="figure-img img-fluid rounded" alt="...">
                                                <figcaption class="figure-caption">결제 완료</figcaption>
                                            </figure>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingOne">
                                    <h2 class="mb-0">
                                        <button href="#membershipCancel" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseOne">
                                            <p class="mb-0">멤버십 해지</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="membershipCancel" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership01.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">홈페이지 상단의 <a target="_blank" th:href="@{/membership}">MEMBERSHIP</a> 메뉴를 클릭</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership02.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">원하는 멤버십 등급을 선택 후 카카오 페이로 간편결제 진행</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership03.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">QR코드 또는 카카오톡 메시지로 간편결제 진행</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership04.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">화면 안내에 따라 카카오톡 간편결제 진행</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAMembership05.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">결제 완료</figcaption>
                                                </figure>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingTwo" role="tab">
                                    <h2 class="mb-0">
                                        <button href="#servicesReserve" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                            <p class="mb-0">서비스 예약</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="servicesReserve" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>
                                                <figure class="figure">
                                                    <figcaption class="figure-caption"><a href="#membershipStart" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">멤버십</a>에 가입</figcaption>
                                                </figure>
                                            </li>

                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAReserve01.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">홈페이지 상단의 <a target="_blank" th:href="@{/services}">SERVICES</a> 메뉴를 클릭</figcaption>
                                                </figure>
                                            </li>

                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAReserve02.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">원하는 서비스를 선택</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAReserve03.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">예약 정보(날짜, 시간, 주소, 요청사항)를 입력 후 예약버튼 클릭</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/QnAReserve04.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">예약완료</figcaption>
                                                </figure>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingThree" role="tab">
                                    <h2 class="mb-0">
                                        <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                            <p class="mb-0">서비스 예약 취소</p>
                                           <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body py-3 px-0">
                                        <ol>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/reserve_cancel01.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">로그인 후 상단 메뉴에서 PETPPY 이모티콘을 클릭하여 <a target="_blank" th:href="@{/user}">회원설정</a> 메뉴 클릭 </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/reserve_cancel03.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption"><a target="_blank" th:href="@{/user}">회원설정</a> 페이지에서 <a target="_blank" th:href="@{/reserve/reserveList}">service 예약확인</a> 메뉴 클릭 </figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/reserve_cancel04.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">예약 목록에서 취소하고 싶은 예약의 취소버튼 클릭</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/reserve_cancel05.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">예약취소 버튼 클릭</figcaption>
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="figure">
                                                    <img src="/petppy/images/reserve_cancel06.PNG" class="figure-img img-fluid rounded" alt="...">
                                                    <figcaption class="figure-caption">예약취소 완료</figcaption>
                                                </figure>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header p-0" id="headingFour" role="tab">
                                    <h2 class="mb-0">
                                        <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                            <p class="mb-0">문의하기</p>
                                            <i class="fa" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body py-3 px-0 d-flex justify-content-center">
                                        <form class="w-75" id="enquiryForm">
                                            <div class="form-group">
                                                <label for="enquiryType">문의 종류</label>
                                                <select class="form-control" id="enquiryType">
                                                    <option value="MEMBERSHIP">멤버십</option>
                                                    <option value="RESERVE">예약</option>
                                                    <option VALUE="ETC">기타</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="enquiryContent">문의 내용</label>
                                                <textarea class="form-control" id="enquiryContent" placeholder="문의하실 내용을 입력해주세요." rows="5"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary py-3 px-4 text-white enquiry-btn">문의하기</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function (e) {

        /* 문의하기 버튼 클릭시  */
       $('.enquiry-btn').on('click', function (e) {
            e.preventDefault();

            if ([[${session.user == null}]]) {  // 로그인 전이라면 로그인 모달을 띄어주고 return false;
                $("#loginModal").modal("show");

                return false;
            } else {    // 문의 생성
                /*[# th:if = "${session.user != null}"]*/
                    let enquiryType = $('#enquiryType option:selected').val();
                    let content = $('#enquiryContent').val();
                    let userId = [[${session.user.id}]];

                    let enquiryDTO = {
                        enquiryType : enquiryType,
                        content : content,
                        userId : userId
                    }

                    $.ajax({
                        url: '/enquiry/create',
                        type: 'post',
                        data: JSON.stringify(enquiryDTO),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'text',
                        success : function (result) {

                            $('#enquiryForm')[0].reset();

                            swal('문의', '문의 작성이 정상적으로 처리되었습니다.');
                        },
                        error : function(xhr, status, error) {
                            let msg = '문의 작성에 실패하였습니다.\n' + xhr.responseText
                            swal('문의', msg);
                        }

                    })
                /*[/]*/
            }





        });
    });
</script>
</html>