<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/baiscLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="hero-wrap" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center"
                     data-scrollax-parent="true">
                    <div class="col-md-11 ftco-animate text-center">
                        <div class="row align-items-center justify-content-center">
                            <div class="card border-white mb-3 w-50">
                                <div class="card-body bg-transparent border-white"><h2></h2></div>
                                <div class="card-body">
                                    <h2 class="card-title">로그인</h2>
                                    <form action="/login" id="login-form" method="post" class="justify-content-start">
                                        <div class="form-group" id="email-group">
                                            <label th:for="email" class="d-flex justify-content-start">이메일</label>
                                            <input type="email" id="email" class="form-control"
                                                   aria-describedby="emailHelp" name="email"
                                                   placeholder="example@petppy.com">
                                        </div>

                                        <div class="form-group" id="password-group">
                                            <label th:for="password" class="d-flex justify-content-start">비밀번호</label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                   placeholder="비밀번호">
                                        </div>

                                        <button type="submit" id="submit-Btn" class="btn btn-success btn-lg btn-block"
                                                style="font-size: 20px;">로그인
                                        </button>

                                        <div class="hr-sect">소셜 로그인</div>
                                        <div class="social-login-buttons" align="center">
                                            <a href="/oauth2/authorization/google"><img style="width: 44px; height: 44px;"
                                                                                        th:src="@{'/petppy/images/google_login_btn.png'}"></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/oauth2/authorization/naver"><img style="width: 44px; height: 44px;"
                                                                                       th:src="@{'/petppy/images/naver_login_btn.png'}"></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#"><img style="width: 44px; height: 44px;"
                                                             th:src="@{'/petppy/images/kakao_login_btn.png'}"></a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </th:block>


</th:block>

<script th:inline="javascript">


    $(document).ready(function () {
        var fail = false;

        fail = [[${session.fail}]];

        if (fail == true) {
            alert("이메일 혹은 비밀번호가 틀렸습니다.");
        }

        $("button[type='submit']").on("click", function (e) {
            e.preventDefault();

            if (checkInput() === false) {
                return;
            }

            $("#login-form").submit();
        });

        /* input 입력 항목 유효성 체크 */
        function checkInput() {

            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if ($("#email").hasClass("is-invalid") === true) {
                $("#email").removeClass("is-invalid");
                $("#email-invalid-div").remove();
            }

            if ($("#password").hasClass("is-invalid") === true) {
                $("#password").removeClass("is-invalid");
                $("#password-invalid-div").remove();
            }

            /* email칸 & password칸이 공백인 경우 invalid-feedback 클래스 추가 */
            if ($("#email").val().trim() == ""|| !re.test($("#email").val()) || $("#password").val().trim() == "") {

                /* email칸이 공백인 경우 invalid-feedback 클래스 추가 */
                if ($("#email").val().trim() == "" || !re.test($("#email").val())) {
                    $("#email").addClass("is-invalid");
                    $("#email-group").append("<div class='invalid-feedback' id='email-invalid-div'>" + "올바른 이메일을 입력하세요 </div>");
                }

                /* password칸이 공백인 경우 invalid-feedback 클래스 추가 */
                if ($("#password").val().trim() == "") {
                    $("#password").addClass("is-invalid");
                    $("#password-group").append("<div class='invalid-feedback' id='password-invalid-div'>" + "비밀번호를 입력하세요 </div>");
                }

                return false;
            }
        }


    });

</script>

</html>