<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/fragments/basicLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <section class="hero-wrap hero-wrap-2" style="background-image: url('/petppy/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div aria-live="polite" aria-atomic="true" style="position: fixed; z-index: 9999; min-height: 200px;">
                    <!-- Position it -->
                    <div style="position: fixed; top: 15px; right: 15px;" class="content-section">

                    </div>
                </div>
                <div class="row no-gutters slider-text align-items-end">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs mb-2"><span class="mr-2"><a th:href="@{/}" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="메인 화면으로 이동">Home <i class="ion-ios-arrow-forward"></i></a></span>
                            <span>ReserveList <i class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-0 bread">예약확인</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-auto">
                        <div class="jumbotron bg-transparent">
                            <h3>예약 목록</h3>

                            <!--<p>예약 검색</p>
                            <button class="btn btn-outline-primary">전체 예약 조회</button>
                            <button class="btn btn-outline-primary">예약 중인 예약만 조회</button>-->
                            <div class="row mt-5">
                            </div>

                            <table class="table">
                                <thead>
                                <tr class="table-active" th:align="center">
                                    <th scope="col">번호</th>
                                    <th scope="col">서비스</th>
                                    <th scope="col">예약일</th>
                                    <th scope="col">예약상태</th>
                                    <th scope="col">예약취소</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:data-id="${reserveList.id}" th:data-user="${reserveList.userId}" th:data-service="${reserveList.servicesId}" th:each="reserveList, i : ${reserveList.dtoList}" th:align="center">

                                    <!-- 번호 -->
                                    <th th:text="${i.count}" scope="row"></th>

                                    <!-- 예약 서비스 타입 -->
                                    <td th:if="${#strings.toString(reserveList.servicesType)} == 'DOG_WALK'">강아지 산책</td>
                                    <td th:if="${#strings.toString(reserveList.servicesType)} == 'PET_GROOMING'">반려동물 미용</td>
                                    <td th:if="${#strings.toString(reserveList.servicesType)} == 'VET_VISIT'">수의사 방문</td>

                                    <!-- 예약 일 -->
                                    <td th:text="${reserveList.reserveStartDate}"></td>

                                    <!-- 예약 상태 -->
                                    <td class="reserveStatus" th:if="${#strings.toString(reserveList.reserveType)} == 'RESERVE'">예약 중</td>
                                    <td class="reserveStatus" th:if="${#strings.toString(reserveList.reserveType)} == 'COMPLETE'">완료</td>
                                    <td class="reserveStatus" th:if="${#strings.toString(reserveList.reserveType)} == 'CANCEL'">예약 취소</td>

                                    <!-- 예약 취소 버튼 -->
                                    <td th:if="${#strings.toString(reserveList.reserveType)} == 'RESERVE'"><button type="button" class="btn btn-outline-secondary reserve-cancel-btn">취소</button></td>
                                    <td th:unless="${#strings.toString(reserveList.reserveType)} == 'RESERVE'"><button type="button" class="btn btn-outline-secondary reserve-cancel-btn" disabled>취소</button></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row mt-5">

                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li th:if="${reserveList.prev}" class="page-item">
                                        <a class="page-link" th:href="@{/reserve/reserveList(page = ${reserveList.start - 1})}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li th:each="page : ${reserveList.pageList}" th:class="${reserveList.page == page ? 'active page-item':'page-item'}"><a th:href="@{/reserve/reserveList(page=${page}, size=${reserveList.size})}" th:data-page="${page}" class="page-link">[[${page}]]</a></li>
                                    <li th:if="${reserveList.next}" class="page-item">
                                        <a class="page-link" th:href="@{/reserve/reserveList(page = ${reserveList.end + 1})}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </th:block>
</th:block>
<script th:inline="javascript">
    $(document).ready(function (e) {
        $('.reserve-cancel-btn').on('click', function (e) {
            e.preventDefault();

            var id = $(this).closest('tr').data('id');
            var userId = $(this).closest('tr').data('user');
            var servicesId = $(this).closest('tr').data('service');

            var reserveCancelBtn = $(this);
            var reserveStatus = $(this).closest('tr').find('.reserveStatus');

            swal("예약을 취소하시겠습니까?", {
                buttons: {
                    cancel: "닫기",
                    catch: {
                        text: "예약 취소",
                        value: "cancel",
                    }
                },
            }).then((value) => {
                    if (value) {

                       /* var cancelForm = $('<form></form>');
                        //set attribute (form)
                        cancelForm.attr("name","cancelForm");
                        cancelForm.attr("method","post");
                        cancelForm.attr("action","/reserve/cancel");

                        // create element & set attribute (input)
                        cancelForm.append($('<input/>', {type: 'hidden', name: 'id', value:id }));
                        cancelForm.append($('<input/>', {type: 'hidden', name: 'userId', value:userId }));
                        cancelForm.append($('<input/>', {type: 'hidden', name: 'servicesId', value:servicesId }));

                        // append form (to body)
                        cancelForm.appendTo('body');

                        // submit form
                        cancelForm.submit();*/

                        $.ajax({
                            url: '/reserve/cancel',
                            type: 'post',
                            data: {
                                id: id,
                                userId: userId,
                                servicesId: servicesId
                            }
                        }).done(function (result) {
                            if (result) {
                                swal('예약 취소', '예약을 취소했습니다.');

                                reserveCancelBtn.attr('disabled', true);
                                reserveStatus.text('예약 취소');
                            }
                        })

                    }
                });
        });
    });
</script>
</html>